<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
    <style type="text/css">
    .m15{ margin: 15px;}
     .tc{ text-align: center;font-size: 18px;font-weight: 600;}
    </style>
</head>
<body screen_capture_injected="true">
    <div class="container">
        <form class="form-horizontal" method="post">
            <fieldset>
                <legend>用户注册</legend>
                <div class="control-group">
                    <label class="control-label" for="username">用户名</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="username" name="username">
                        <p class="help-block">你的账户名称，用于登录和显示。</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">口令</label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" id="password" name="password">
                    </div> 
                </div>
                <div class="control-group">
                <label class="control-label"  for="password-repeat">重复输入口令</label>
                <div class="controls">
                <input type="password" class="input-xlarge" id="password1"
                name="password-repeat">
                </div>
                </div>
                <div class="form-actions">
                <button type="submit" id="register1" class="btn btn-primary">注册</button>
                </div>
            </fieldset>
        </form> 
    </div>

    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <!--<script type="text/javascript">
    $(function(){ 
        $("#login1").click(function(){ 
            location.href = 'login';
        });
        $("#register1").click(function(){ 
            alert(1)
            var username = $("#username").val();
            var password = $("#password").val();
            var password1 = $("#password1").val();
            if(password !== password1){ 
                $("#password").css("border","1px solid red");
                $("#password1").css("border","1px solid red");
                alert(password);
            }else if(password === password1){
                var data = {"username":username,"password":password};
                $.ajax({ 
                    url: '/register',
                    type: 'post',
                    data: data,
                    success: function(data,status){ 
                        if(status == 'success'){ 
                            alert(1)
                            location.href = 'login';
                        }
                    },
                    error: function(data,err){ 
                            alert(2)
                            location.href = 'register';
                    }
            }); 
        }
        });
    });
</script>-->
</body>
</head>
</html>